	
		<p class="panel-heading">Profile</p>
		<div class="box">
			<article class="media">
				
				
					<figure class="image is-128x128">
						<%= image_tag(@user.avatar_thumbnail) %>
					</figure>
				
			</article>
			<article class="media">
				<div class="content has-centered-text">
					<h2>
						<%= @user.name %>
					</h2>
					<div class="subtitle">@<%= @user.username %></div>
				</div>
			</article>
			<article class="media">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Posts</p>
						<p class="title is-6"><%= @user.posts.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6">0</p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6">0</p>
					</div>
				</div>
			</div>
			</article>
			<article class="media field is-grouped">
				<% if @user != current_user %>
						<p class="control">
							<%= link_to "Follow", "#",  class: "button is-primary" %>
						</p>
				<% else %>
					<p class="control">
						<%= link_to "Edit profile", edit_user_registration_path, class: "button is-primary" %>
					</p>
				<% end %>
			</article>
		</div>

